<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="container-wrapper">
      <div class="cuadro">
        <h1>EL SOFTWARE EN TU NEGOCIO</h1><br>
        <p>Simplifica la gestión de tus archivos legales con nuestro producto. </p><br>
        <div class="btn-trynow">
          <button routerLink="preregistro">Empieza ahora!</button>
        </div>
      </div>
      <div class="imagen-container">
        <img src="assets/abogado.jpg" alt="Imagen Trapecio" title="Imagen de https://www.freepik.es/foto-gratis/abogado-balanza_3357378.htm#page=4&query=law%20firm&position=19&from_view=search&track=ais freepik" loading="lazy" />
      </div>
    </div>  
  </section>
  <section>
        <div class="container" style="padding-top:70px;">
          <div class="content">
              <h1>ADMINISTRA TUS DOCUMENTOS</h1>
              <p>Nuestro producto de administración de archivos está <br> diseñado para hacer exactamente eso:
                  simplificar la <br> gestión de tus documentos legales.</p>
              <br>        
              <div class="btn-trynow">
                <button routerLink="preregistro">Empieza ahora!</button>
              </div>
              <br>
              <img src="../../../assets/laptop.png" alt="Imagen">
      </div>
    </div>
  </section>
  <section>
    <div class="container" style="min-height: 100vh; align-items: center; justify-content: center;">
      <div class="content">
          <h1>Agilice la gestión de documentos y aumente la productividad.</h1>
          <p style="padding-top: 30px; padding-bottom: 50px;">Con Legalet, puedes almacenar y organizar fácilmente todos tus documentos en una ubicación centralizada. Colabora con tu equipo en tiempo real y mantente al día de los plazos importantes con recordatorios y alertas. Despídete del engorro de gestionar documentos y da la bienvenida a una mayor productividad.</p>
                
          <div class="btn-trynow" >
            <button routerLink="preregistro">Empieza ahora!</button>
          </div>
          <br>
  </div>
</div>
</section>
</body>
</html>