<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="" class="logo"> LEGALET</a>
    <nav>
      <a href="#inicio"></a>
      <a href="#features">Qué ofrecemos</a>
      <a href="#">Áreas Legales</a>
      <a href="#pricing">Precio</a>
      <a href="">Testimonios</a>
    </nav>
    <div>
      <a class="nav-login" href="login">Ingresar</a>
    </div>
    <div class="btn-trynow">
      <button routerLink="preregistro">Empieza ahora!</button>
    </div>
  </header>

  <section id="inicio">
    <app-inicio></app-inicio>
  </section>
  <section id="features">
    <app-features></app-features>
  </section>
  <section id="pricing">
    <app-princing></app-princing>
  </section>
  <section></section>
  <section></section>
</body>

</html>