<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-wrapper settings-container">
        <div class="container">
            <div class="section">
                <div class="button-wrapper">
                    <button type="button" class="btn btn-2"><a routerLink="/login">Iniciar sesión</a></button>
                    <button type="button" class="btn btn-1" disabled>Registro</button>
                </div>
                <div class="text">
                    <p>Inicia con:</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                  </div>
                  <div class="text">
                    <p>o</p>
                </div>
            </div>
            <div class="section2">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Usuario">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Correo Electrónico">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirma tu contraseña">
                    </div>
                    <p class="additional-text">Al hacer click en <i class="additional-text">"Registrate",</i> aceptas nuestras <a href="" class="additional-text">Condiciones,</a> la <a href="" class="additional-text">Política de Privacidad</a> y la <a href="" class="additional-text">Política de Cookies</a></p>
                    <button type="submit" class="btn btn-beige btn-block"><a class="button-link">Registrate</a></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>