<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!---swipper CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
</head>

<body>
    <div class="slider-wrapper">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card-content">
                            <h2 class="name">Sara García</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit
                                quos dolores provident quas nemo dolorem quam animi beatae veritatis, cumque, placeat
                                iure. Eligendi et provident corrupti. Quae, voluptates accusantium?</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content">
                            <h2 class="name">Sara García</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit
                                quos dolores provident quas nemo dolorem quam animi beatae veritatis, cumque, placeat
                                iure. Eligendi et provident corrupti. Quae, voluptates accusantium?</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content">
                            <h2 class="name">Sara García</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit
                                quos dolores provident quas nemo dolorem quam animi beatae veritatis, cumque, placeat
                                iure. Eligendi et provident corrupti. Quae, voluptates accusantium?</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content">
                            <h2 class="name">Sara García</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit
                                quos dolores provident quas nemo dolorem quam animi beatae veritatis, cumque, placeat
                                iure. Eligendi et provident corrupti. Quae, voluptates accusantium?</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content">
                            <h2 class="name">Sara García</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit
                                quos dolores provident quas nemo dolorem quam animi beatae veritatis, cumque, placeat
                                iure. Eligendi et provident corrupti. Quae, voluptates accusantium?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
    </div>
</body>
<!--Swipper JS-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</html>