<section>
    <div class="features-wrap">
        <div class="feature1">
            <p class="first-text">#1 FEATURE</p><br>
            <h1>Simplifique la gestión de documentos y aumente la productividad con legalet</h1><br>
            <p>Con Legalet, puedes almacenar y organizar fácilmente todos tus documentos en una ubicación centralizada.
                Colabora con tu equipo en tiempo real y mantente al día de los plazos importantes con recordatorios y
                alertas. Despídete del engorro de gestionar documentos y da la bienvenida a una mayor productividad.</p>
        </div>
        <div class="imagen1">
            <img class="imagen1" src="../../../assets/productividad.jpeg" alt="imagen de productividad">
        </div>
    </div>
</section>
<section>
    <div class="features-wrap2">
        <div class="imagen2">
            <img class="imagen2" src="../../../assets/productividad.jpeg" alt="imagen de productividad">
        </div>
        <div class="feature2">

            <p class="first-text2">#2 FEATURE</p><br>
            <h1>Agilice la gestión de documentos jurídicos de su equipo.</h1><br>
            <p>Con Legalet, puedes almacenar y organizar fácilmente todos tus documentos en una ubicación centralizada.
                Colabora con tu equipo en tiempo real y mantente al día de los plazos importantes con recordatorios y
                alertas. Despídete del engorro de gestionar documentos y da la bienvenida a una mayor productividad.</p>
        </div>
    </div>
</section>
<section>
    <div class="features-wrap3">
        <div class="feature1">
            <p class="first-text">#3 FEATURE</p><br>
            <h1>Simplifique la gestión de sus documentos con facilidad.
            </h1><br>
            <p>No deje que las interfaces complicadas ralenticen su productividad. La interfaz fácil de usar de Legalet permite una presentación sencilla e intuitiva de la integración de archivos. Colabore con sus colegas y gestione documentos sin problemas en un solo lugar. Simplifique la gestión de sus documentos y aumente la productividad de su equipo hoy mismo.</p>
        </div>
        <div class="imagen1">
            <img class="imagen1" src="../../../assets/productividad.jpeg" alt="imagen de productividad">
        </div>
    </div>
</section>