
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>
    <div class="base-div" > 
        <p class="textop">¡Un paso Mas!</p>
        <p class="textoagre">Antes de continuar, por favor, regístrese completando los campos obligatorios </p>
        <div id="formulario">
            <form>
                <label for="" style="text-align: left; margin-left: 30%; ">Nombre</label>
                <input type="text" class="codigolol">
                <br>
                <label for="" style="text-align: left; margin-left: 30%; margin-top: 2%; ">Usuario</label>
                <input type="text" class="codigolol" style="margin-top: 2%;">
                <br>
                <br>
                <label for="" style="text-align: left; margin-left: 23%; margin-top: 2%; ">Correo Electronico</label>
                <input type="text" class="codigolol" style="margin-top: 2%;">
                <br>
                <br>
            </form>
            <button style=" margin-left: 39%;" class="registros"><a href="verification" style="text-decoration: inherit; color: black;">Enviar</a></button>
        </div>
        <br>
    </div>
</body>
</html>