<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!---swipper CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
</head>

<body>
    <div class="slider-wrapper">
        <div style="padding: 40px 50px; text-align: center; ">
            <h1 style="font-weight: 800; font-size: 50px;">Más de 5,000 clientes satisfechos</h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper" style="height: 100%;">
                    <div class="card swiper-slide">
                        <div class="card-content" >
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <p class="description">"¡Increíblemente eficiente y fácil de usar! mi despacho ha experimentado una transformación total. Ahora puedo encontrar y acceder a mis documentos de manera rápida y sencilla.”</p>
                            <h2 class="name" >- Sara García</h2>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content" >
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="description">"¡Increíblemente eficiente y fácil de usar! mi despacho ha experimentado una transformación total. Ahora puedo encontrar y acceder a mis documentos de manera rápida y sencilla.”</p>
                            <h2 class="name" >- Sara García</h2>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content" >
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="description">"¡Increíblemente eficiente y fácil de usar! mi despacho ha experimentado una transformación total. Ahora puedo encontrar y acceder a mis documentos de manera rápida y sencilla.”</p>
                            <h2 class="name" >- Sara García</h2>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card-content" >
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="description">"¡Increíblemente eficiente y fácil de usar! mi despacho ha experimentado una transformación total. Ahora puedo encontrar y acceder a mis documentos de manera rápida y sencilla.”</p>
                            <h2 class="name" >- Sara García</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-curve-bottom"></div>
    </div>
</body>
<!--Swipper JS-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</html>