<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-wrapper settings-container">
        <div class="container">
            <div class="section">
                <h1>Cuéntanos de tu empresa</h1>
            </div>
            <div class="section3">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="despachos" class="label">Cantidad de despachos:</label>
                            <input type="number" class="form-control custom-input custom-width" id="nombre" placeholder="0">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="abogados" class="label">Cantidad de abogados:</label>
                            <input type="number" class="form-control custom-input custom-width" id="apellidos" placeholder="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="lugarLitiga" class="label">Ingresos mensuales promedio:</label>
                            <select class="form-select custom-select custom-width" id="lugarLitiga">
                                <option value="" class="custom-width">Selecciona de la lista</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </form>
                
                
            </div>
            <div class="section2">
                <div class="button">
                    <button type="submit" class="btn btn-purple btn-custom"><a class="button-link"
                            routerLink="/typesOfRights">Continuar</a></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>