.container-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-container {
    background-color: #E5E7EB; 
    color: black; 
    padding: 20px;
    border-radius: 5px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
  }
  .section2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 280px;
  }
  .section3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 25px;
  }
  .text-label{
    text-decoration: none;
    font-weight: 500;
  }
  .form-check-label{
    font-weight: 500;
  }
  .button {
    display: flex;
    padding-bottom: 55px;
  }
  
  .btn-purple {
    background-color: #E5BE99;
    border-color: #E5BE99;
    color: #FFFFFF;
    font-weight: 700;
  }
  
  .button-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  
  .button-link:hover {
    text-decoration: none;
    color: white;
  }
.label{
    font-weight: 500;
    font-size: 25px;
}
 .row{
    padding-bottom: 55px;
 }
 .custom-width {
    width: 100%;
    font-size: 20px;
}
.custom-select option {
    background-color: #F3F4F6; 
    color: #333333; 
}
